* {
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    margin: 0;
    color: #fff;
    transition: background-color 0.3s, color 0.3s, background-image 0.3s;
    background-size: cover;
    background-position: center;
}

body.light-theme {
    background-color: #ffffff;
    color: #143f02;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url('img/podos_background.webp');
}

body.dark-theme {
    background-color: #000000;
    color: #fff;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('img/podos_background.webp');
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    transition: background-color 0.3s;
}

header.light-theme {
    background-color: rgba(255, 255, 255, 0.9);
}

.wrap-logo-slogan {
    /* display: flex; */
    flex-direction: row;
    align-items: center;
    padding: 20px 10px;
    margin-top: 20px;
}
.wrap-logo-slogan .slogan {
    text-align: left;
    padding-left: 18px;
    padding-right: 10px;
    font-size: 24px;
    font-weight: bold;
}
.logo a {
    font-size: 24px;
    text-decoration: none;
    color: #fff;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

nav ul li a.active,
nav ul li a:hover {
    color: #32a201;
}

main {
    max-width: 980px;
    margin: 0 auto;
    transition: background 0.3s;
}

main.dark-theme {
    background: rgba(0, 0, 0, 0.95);
}

section {
    margin-bottom: 140px;
    padding: 0px 10px;
}

h1, h2 {
    color: #32a201;
    margin-bottom: 10px;
}

body.light-theme h2 {
    color: #143f02;
}

#home-title, #home-why-title,
#home-services-title, #home-professional-title {
    padding-top: 40px;
}

.img-contents {
    display: flex;
    align-items: center;
}

.img-contents img {
    width: 30%;
    border-radius: 2%;
    border: 2px #333 solid;
    box-shadow: 0 0 10px #32a201;
    margin: 10px 0 10px 0;
}

.img-contents p {
    padding-left: 40px;
}

.img-contents.right-side img {
    margin-left: 40px;
}

.img-contents.right-side p {
    padding-left: 0;
}

.service-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

form input, form textarea, form button {
    margin: 10px 0;
    padding: 10px;
    font-size: 1em;
    border: none;
    width: 100%;
    border-radius: 5px;
}

form button {
    width: 30%;
    background-color: #32a201;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 0 auto;
}

form button:hover {
    background-color: #3c3b3b;
    color: #fff;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
}
.footer-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.wrap-adres {
    display: flex;
    align-items: baseline;
}

#footer-social {
    padding-left: 100px;
}

.text-adres {
    font-size: 12px;
    text-align: left;
} 

footer.light-theme {
    background-color: rgba(255, 255, 255, 0.9);
    color: #333;
}

footer h3 {
    color: #32a201;
}

.sosial-link {
    text-decoration: none;
    padding-right: 10px;
}

.language-switcher {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.language-switcher button,
.theme-switcher button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #fff;
    transition: color 0.3s;
}

.icon {
    fill: #fff;
    width: 20px;
    height: 20px;
}
.icon-weather-sunny, 
.icon-adjust-brightness {
    width: 18px;
    height: 18px;
}

.icon:hover {
    fill: #32a201;
    background-size: contain;
}

#footer-text {
    margin: auto;
    padding-top: 100px;
}

.language-switcher button:hover,
.theme-switcher button:hover {
    color: #32a201;
}

button.active {
    background-color: #143f02;
    color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: bold;
}

.theme-switcher {
    display: flex;
    gap: 10px;
    align-items: center;
}

/* SCROLL STYLES */
.scroll-up  {
    position: fixed;
    right: 4%;
    bottom: 90%;
    width: 40px;
    height: 40px;
    color: #32a201;
    cursor: pointer;
    visibility: hidden;
    border-radius: 50px;
    box-shadow: inset 0 0 0 4px dimgrey;
    opacity: 0;
    transition: 0.2s;
    transform: translateY(25px);
}
.scroll-up::before {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 22px;
    content: '👣';
}
.scroll-up:hover {
    background-color: #fff;
}
.scroll-up--active {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}
    
.scroll-up_svg_path {
    box-sizing: border-box;
    fill: #ffffffd4;
    stroke: #47e203;
    stroke-width: 4px;
    transition: .2s;
}

/*Carousel Section*/
#carousel {
    margin: 40px 0;
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.carousel-inner {
    display: flex;
    width: 100%;
    transition: transform 0.5s ease; /* Плавний перехід */
}

.carousel-item {
    min-width: 100%;
    opacity: 0; /* Початково приховані */
    transition: opacity 0.5s ease; /* Плавний перехід для прозорості */
    position: absolute; /* Щоб усі елементи були в одному місці */
    top: 0;
    left: 0;
}

.carousel-item.active {
    opacity: 1; /* Показ активного слайду */
    position: relative; /* Активний слайд відображається на своєму місці */
}

.carousel-item img {
    display: block;
    width:55%;
    border-radius: 10px;
    margin: 0 auto;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    z-index: 10;
}

.carousel-control.prev {
    left: 10px;
}

.carousel-control.next {
    right: 10px;
}

.slogan {
    font-size: 14px;
    color: #fff;
    text-align: center;
    margin: 0;
}

.menu-mobile-container {
    display: none; /* За замовчуванням приховуємо меню */
    flex-direction: column;
    align-items: flex-start;
}

.action-buttons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    fill: #fff;
}

.btn {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #32a201;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #3c3b3b;
}

.desktop-btn {
    display: none;
}

.mobile-call {
    display: none;
}

/* Анімація для відкриття/закриття меню */
.menu-container.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 999;
    animation: slideDown 0.3s ease;
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-20%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.menu-container ul {
    padding: 0;
    margin: 10px 0;
    list-style: none;
}

.menu-container ul li {
    text-align: center;
    margin: 10px 0;
}

.menu-container ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.menu-container ul li a:hover {
    color: #32a201;
}

.burger-menu.active svg {
    transform: rotate(90deg);
    transition: transform 0.3s;
}

/* .menu-overlay {
    display: none; /* Подложка буде видима тільки під час відкриття меню 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100; /* Вищий за інші елементи 
} */

/* .menu-container {
    /* display: none; Приховане за замовчуванням 
    position: fixed;
    top: 0;
    right: 0;
    width: 80%; /* Ширина меню на мобільних 
    height: 100%;
    background-color: #000;
    padding: 20px;
    z-index: 101; /* Вище за overlay 
    transition: transform 0.3s ease;
    transform: translateX(100%);
} */

/* .menu-container.active {
    display: flex;
    flex-direction: column;
    transform: translateX(0); /* Відкрите меню 
} */

/* --------- dropdown---------- */
/* Стилі для контейнера */
.dropdown {
    position: relative;
    display: inline-block; /* Дозволяє випадаючому меню бути поряд з іншими елементами */
}

/* Стилі для кнопки */
.dropdown-toggle {
    background-color: #32a201;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 23px;
    margin-left: 10px;
}

.dropdown-toggle:hover,
.dropdown-toggle:active {
    background-color: #333;
}

/* Стилі для списку */
.dropdown-menu {
    display: none; /* Ховаємо меню */
    position: absolute; /* Позиціонуємо відносно контейнера */
    background-color: #8b8989; /* Фон списку */
    min-width: 160px; /* Мінімальна ширина */
    box-shadow: 0px 8px 16px #89cc6c; /* Тінь */
    z-index: 1; /* Пріоритетність у відображенні */
    list-style-type: none; /* Прибираємо маркери списку */
    padding: 10px 0; /* Внутрішні відступи */
    margin: 0; /* Зовнішні відступи */
    border-radius: 5px; /* Закруглення */
    right: -38px;
    top: 63px;
}

.dropdown-menu:hover {
    color: #143f02;
}

/* Стилі для кнопки закриття */
.close-menu {
    background-color: #32a201;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    text-align: center;
}

.close-menu:hover {
    background-color: #143f02;
}

.dropdown-menu {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.dropdown-menu.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

/* Стилі для елементів списку */
.dropdown-menu li {
    padding: 4px 16px; /* Відступи всередині пункту меню */
}

/* Стилі для посилань */
.dropdown-menu li a {
    text-decoration: none; /* Без підкреслення */
    color: #fff; /* Колір тексту */
    display: block; /* Робимо елементи блочними */
}

/* Зміна стилю при наведенні */
.dropdown-menu li:hover {
    color: #32a201; /* Зміна кольору фону */
}

/* Показуємо меню при наведенні */
.dropdown:hover .dropdown-menu {
    display: block;
}

/* Показуємо меню при кліку */
.dropdown-toggle:focus + .dropdown-menu {
    display: block;
}

.modalwindow {
    display: none;
}

.hidden {
    display: none;
}

/* MODAL (for coocie) */
.close-btn {
    font-size: x-large;
    padding-left: 4px;
}
