* {
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #02793f;
    color: #fff;
    margin: 0;
    transition: background-color 0.3s, color 0.3s;
}

body.light-theme {
    background-color: #fff;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #000;
    transition: background-color 0.3s;
}

header.light-theme {
    background-color: #f1f1f1;
}

.logo a {
    font-size: 24px;
    text-decoration: none;
    color: #fff;
}

.green {
    color: #02793f;
}
.yellow {
    color: #fcd53f;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

nav ul li a.active,
nav ul li a:hover {
    color: #fcd53f;
}

main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

section {
    margin-bottom: 40px;
}

h1, h2, h3 {
    color: #fcd53f;
    font-size: 2em;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.5em;
    color: #fcd53f;
}

.service-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.service h3 {
    color: #fcd53f;
    font-size: 1.2em;
}

form {
    display: flex;
    flex-direction: column;
}

label, input {
    margin: 10px 0;
}

textarea {
    margin: 20px 0px 50px;
}

input, textarea {
    padding: 10px;
    font-size: 1em;
}

button {
    padding: 10px;
    background-color: #fcd53f;
    color: #000;
    font-size: 1em;
    border: none;
    cursor: pointer;
}

.submit-btn {
width: 30%;
margin: 0 auto 150px;
}

button:hover {
    background-color: #3c3b3b;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #000;
    font-size: 0.9em;
    color: #fff;
}

footer.light-theme {
    background-color: #505050;
    color: #333;
}

footer a {
    text-decoration: none;
    color: #ff5e5e;
}

footer a:hover {
    color: #fff;
}

.language-switcher {
    text-align: right;
}

.language-switcher button,
.theme-switcher button {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 4px;
}

.language-switcher button {
    font-weight: bold;
    font-size: small;
}

.theme-switcher {
    display: flex;
    gap: 10px;
    align-items: center;
}

.theme-switcher button {
    font-size: 18px; /* Зробити іконки більшими */
}

/* Адаптивний стиль */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    .theme-switcher {
        margin-top: 10px;
    }
}
